@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body, #main {
    overflow-x: hidden;
    overflow-y: hidden;
    @apply w-screen;
    @apply h-screen;
    @apply m-0;
    @apply p-0;
}

